head
  link(href="/css/bootstrap.css" type="text/css" rel="stylesheet")
  script(src="/js/jquery.js")
  style.
    body { padding-top: 50px }


body
  .navbar.navbar-inverse.navbar-fixed-top 
    .container
      .navbar-header
        a.navbar-brand(href="/") Siempre
  .container
    block content
  block script
